<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <div id='infoDiv'></div>
    <div id="chart" style="width:100%; height:400px;"></div>
  </head>
  <body>
  </body>
</html>
